:root {
    --primary-color: #000;
    --secondary-color: #61576b;
    --primary-text-color: #fff;
    --secondary-text-color: #000;
    --hover-color: #ccc;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    width: 120px;
    background: var(--secondary-color);
}
#main {
    margin-left: 200px;
}

.list-button {
    color: var(--primary-text-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 4px;
}
.list-button:hover {
    color: var(--secondary-text-color);
    background-color: var(--hover-color);
}

.sidebar {
    height:100%;
    width:200px;
    position:fixed;
    z-index:1;
    overflow:auto
}
.bar-block {
    font-size: 12px;
    text-align: center;
    display: block;
    float: left;
}
.row {
    /*float: left;*/
    display: inline-block;
    vertical-align: top;
    padding: 0px 5px;
    text-decoration: none;
}

.black {
    color: var(--primary-text-color);
    background-color: var(--primary-color)
}

.interests-img {
    height: 150px;
}
.reading-link {
    width: 200px;
    min-height: 300px;
} 
.reading-link>img {
    height: 200px;
}
.reading-link>hr {
    margin: 5px 0;
}
.reading-link>p {
    max-width: 200px;
}
.mod-link {
    width: 200px;
    /*height: 175px;*/
    text-decoration: none;
}
.mod-link>img {
    max-height: 50px;
}
.mod-link>p {
    min-height: 50px;
}

.sidebar-icon {
    filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(212deg) brightness(111%) contrast(101%);;
    width: 100px;
}
.social-svg {
    width: 100px;
    filter:invert(100%) sepia(0%) saturate(7483%) hue-rotate(212deg) brightness(111%) contrast(101%);
}

.underline-overline { text-decoration: underline overline; }

@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0;
    }
    .row.mod-link {
        float: none;
    }
    .reading-link {
        width: 49%;
    }

    .padding-top-nb {
        padding-top: 100px;
    }
    
    .mod-link {
        width: 90%;
        min-height: 75px;
        height: auto;
        text-decoration: none;
    }
    .mod-link>img {
        float: left;
        max-height: 50px;
    }
    .mod-link>p {
        margin-top: 0px;
        min-height: 50px;
        padding-left: 90px;
    }

}