body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    width: 120px;
    background: #61576b;
}
#main {
    margin-left: 200px;
}

.sidebar {
    height:100%;
    width:200px;
    position:fixed;
    z-index:1;
    overflow:auto
}
.bar-block {
    font-size: 12px;
    text-align: center;
    display: block;
    float: left;
}
.row {
    float: left;
    padding: 0px 5px;
    text-decoration: none;
}

.black {
    color:#fff;
    background-color:#000
}

.interests-img {
    height: 150px;
}
.reading-img {
    height: 200px;
}
.manga-link {
    width: 200px;
    min-height: 365px;
}

.sidebar-icon {
    filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(212deg) brightness(111%) contrast(101%);;
    width: 100px;
}
.social-svg {
    width: 100px;
    filter:invert(100%) sepia(0%) saturate(7483%) hue-rotate(212deg) brightness(111%) contrast(101%);
}

@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0;
    }
}